/*selects absolutely everything */
*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0; 
}

.board {
    width: 100vw;
    height: 100vh;
    display: grid;
/* centers everything on the board inside the board div */
    justify-content: center;
    align-content: center; 
    grid-template-columns: repeat(3, auto);
}

.cell {
    width: 100px;
    height: 100px; 
    background-color: black;
    border: 1px solid white;

}