@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Everything */
*, *::after, *::before {
    box-sizing: border-box;
}


body {
    margin: 0; 
    background-color: black;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Logo on all pages */

.logo {
    font-size: 4em;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    color: white;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Home Page and Instructions Area*/
#welcomeArea {
    color: white;
    background-color: black;
    text-align: center;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    position: absolute;
    font-family: 'Oswald', sans-serif;
    font-size: large;
  }

.home-buttons {
    color: black;
    background-color: red;
    border-radius: 12px;
    font-size: 130%;
    font-family: 'Oswald', sans-serif;
    cursor: pointer;
    margin: 5px;
    border-color: red;
}

.instructions {
    color: white;
    text-align:center;
    font-size: larger;
    font-family: 'Oswald', sans-serif;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Game Board */
.board {
    display: grid;
    justify-content: center;
    align-content: center; 
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

/* makes x's and o's 90% of the size of the cell size */
:root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * .9);
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n + 1) {
    border-left: none;
}
.cell:nth-child(3n + 3) {
    border-right: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
    border-bottom: none;
}

.cell.x,
.cell.circle {
    cursor:not-allowed;
}

.cell.x::before,
.cell.x::after,
.cell.circle::before {
    background-color:white;
}

/* creates a hover effect over all the cells on the x board that are not in use */
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before {
    background-color: rgb(66, 63, 63);
}

/* creates the lines in the X on the X board */
.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
    content: '';
    position: absolute;
    width: calc(var(--mark-size) * .15);
    height: var(--mark-size);
}

/* rotates the one line of the X */
.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
    transform: rotate(45deg);
}

/* rotates the other line of the X */
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
    transform: rotate(-45deg);
}

/*This creates a circle in the O cells */
.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
    content: '';
    position: absolute;
    border-radius:50%;
}

/* The visible part of the cirle*/
.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before
 {
    width: var(--mark-size);
    height: var(--mark-size);
}

/* The inside part of the circle */
.cell.circle:after,
.board.circle .cell:not(.x):not(.circle):hover::after {
    width: calc(var(--mark-size) * .7);
    height: calc(var(--mark-size) * .7);
    background-color:black;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Score board and Current Player */
#scoreBoard {
    color: white;
    background-color: black;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: large;
    text-transform: capitalize;
    width: 300px;
    border: 15px solid black;
    padding: 50px;
    margin: auto;;
}

.button-area {
    float: right;
}

.game-buttons {
    color: white;
    background-color: black;
    border-radius: 12px;
    font-size: 110%;
    font-family: 'Oswald', sans-serif;
    cursor: pointer;
    margin: 5px;
    border-color: white;
}

#currentPlayer {
    text-align: center;
    text-transform: capitalize;
    color: red;
    font-family: 'Oswald', sans-serif;
    font-size: x-large;
    padding: 30px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Winning Message */
.swal2-title {
    font-size: 24px;
    color: black !important;
    font-family: 'Oswald';
    text-transform: capitalize !important;
}

.swal2-success-ring {
    border: black !important;
}

.swal2-confirm, 
.swal2-deny {
    background-color: black !important;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Responsivity */
@media (min-width: 280px) and (max-width: 768px) {
    /* for mobile devices */
    .logo {
    font-size: 3em !important;
 }
}